allow system_server persist_file:dir { read write };
allow system_server proc:file write;
allow system_server proc_touchpanel:dir search;
allow system_server proc_touchpanel:file { write open getattr };
allow system_server sensors_persist_file:dir search;
allow system_server sensors_persist_file:file r_file_perms;

# To improve app launch times - we would like to force all tasks to
# run on big cores for app launch (sched_boost) - instead of just
# boosting them to make it "more likely" to run on big cores.
allow system_server zygote:process setsched;

allow system_server stm_sensor:chr_file { read write open ioctl };
