# for CMHardwareService access to TapToWake
allow system_server proc_touchpanel:file rw_file_perms;
allow system_server proc_touchpanel:dir { search };

allow system_server persist_file:dir rw_dir_perms;
allow system_server sensors_persist_file:dir search;
allow system_server sensors_persist_file:file r_file_perms;

allow system_server tee_device:chr_file { open read write ioctl };

allow system_server touchscreen_file:file rw_file_perms;

allow system_server proc_nav_switch:file rw_file_perms;
allow system_server proc_nav_switch:file { write };

# To improve app launch times - we would like to force all tasks to
# run on big cores for app launch (sched_boost) - instead of just
# boosting them to make it "more likely" to run on big cores.
allow system_server zygote:process setsched;

# laser auto focus
allow system_server stm_sensor:chr_file rw_file_perms;
